@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 100;

}

:root {
    --primary: #B6B6B6;
    --secundary: #797979;
    --third: #000000;
    --fourth: #FF0101;
    --fifth: #58B24A;
}

/* PAGINA 2*/


/* CABEÇARIO */
header {
    border-bottom: 0.4rem solid #000000;
    display: flex;
    height: 4.5rem;
    background-color: #797979;
}



/* NAVEGAÇÃO */
div{
width: 50%;
}

h1{
width: 30%;
text-decoration: white;
}

header div{
    text-decoration: none;
}

header nav{
    width: 50%;
    display: flex;
    align-items: center;
    float: right;
}

header nav ul{
    color: white;
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-around;
}
header nav ul li{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
    float: right;

}
main{
    border-bottom: 0.4rem solid #000000;
    background-color: #B6B6B6;
    height: auto;

}


/* O MEIO 2 */


main section.sinopse {
    display: flex;
    max-height: 18rem


}

main section.sinopse img{

    display: flex;
    align-items: flex;
    width:25%;
    padding: 0.3rem;
    max-height: 20%;
}

main section.sinopse h2{
    width: 80%;
}
main section.sinopse p{
    display: flex;
    height: 40%;
    width: 75%;
}





/* PARTE DAS NOTAS */


main section.notas p{
    display: flex;
    color: #58B24A;
    width: 50%;
}


















/*PÉ*/

footer{
    background-color: #797979;
    height: 1.5rem;
    align-items: center;
}
footer img{
    height: 85%;
    align-items: center;
}